* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* ............upper-section................... */

.upper-section {
  background-color: rgb(236, 236, 236);
  /* height: 208px; */
}
.custom-h1 {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(111, 112, 114);
}
.num {
  font-size: 18px;
  font-weight: 700;
  color: rgb(111, 112, 114);
}
.talent-para {
  color: rgb(111, 112, 114);
}
.talent-class {
  position: relative;
}
.talent-upper-para {
  position: absolute;
  left: 7%;
  top: 20%;
}
.end-upper-section {
  position: absolute;
  left: 10%;
  bottom: 7%;
}
.div-1 {
  background-color: #fff;
}
.div-1:hover {
  background-color: rgba(255, 255, 255, 0.38);
}
.select {
  color: rgb(116, 116, 112);
  line-height: 20px;
  text-align: left;
  max-width: calc(100% - 20px);
  font-size: 13px;
}
.dermo > a {
  text-decoration: none;
  font-size: 15px;
}
.main-select {
  background: #fff;
  padding: 10px;
  border: 1px solid lightgray;
  height: 66px;
}
.main-select-left {
  background: #fff;
  padding: 10px;
  border: 1px solid lightgray;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 66px;
}
.main-select-right {
  background: red;
  padding: 10px;
  border: 1px solid lightgray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.search-tab-section {
  /* margin-left: 135px;
    margin-right: 125px; */
  /* position: absolute; */
  /* width: 80%; */
  /* bottom: 0%;
    top: 76%;
    left: 9%; */
}
.search-btn {
  background: red;
  color: #fff;
  /* padding: 21px; */
  border-style: none;
  padding: 16px 41px;
  font-size: 22px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.c-search {
  padding-right: 10px;
}
.img-f-class {
  filter: invert(0);
}
.doc-image {
  /* width: 300px;
    height: auto;
    text-align: center;
    padding: 15px; */
  /* border: 3px solid red; */
}
.c-img-fluid {
  object-fit: cover;
}
.fa-car-icon {
  position: absolute;
  left: 20%;
  top: 78%;
}

/* ......index2-main-section............. */
.index2-main-section {
  background-color: rgb(218 222 227);
}
.custom-bg {
  background-color: #fff;
  border-radius: 12px;
}
.cus-img-r {
  display: inline;
  margin: 0 auto;
  margin-left: -16%;
  height: 100%;
  width: auto;
}
.cust-doc {
  font-size: 20px;
  color: rgb(128, 129, 132);
}
.cust-num {
  margin-left: auto;
  order: 2;
  font-size: 15px;
  font-weight: 600;
  color: rgb(116, 116, 112);
  white-space: pre;
  vertical-align: text-top;
  margin-bottom: auto;
  padding: 0px 5px;
}
.index2-para {
  font-weight: 600;
  margin: 15px 0px 10px;
  color: rgb(128, 129, 131);
  font-size: 16px;
  width: 100%;
  display: inline-block;
  white-space: normal;
  line-height: 20px;
}
.main-p-index2 {
  font-size: inherit;
  display: unset;
  margin: 0px;
  color: unset;
  font-weight: unset;
}
.main-span {
  overflow: hidden;
  /* position: relative; */
  max-height: 2.9em;
  text-align: justify;
  margin-bottom: 0.5em;
}
.new-h3 {
  font-size: inherit;
  display: unset;
  margin: 0px;
  color: unset;
  font-weight: unset;
}
.new-a {
  font-size: 13px;
  color: rgb(0, 112, 205);
  text-decoration: none;
}
.specialized {
  font-size: 13px;
  color: rgb(128, 129, 132);
  line-height: 21px;
  display: contents;
  width: 100%;
}
.over-new {
  font-size: 12px;
  color: rgb(128, 129, 132);
  margin: 4px 10px;
}
.show-new {
  font-size: 12px;
  color: rgb(0, 112, 205);
}
.new-star-icon {
  font-size: 28px;
}
.arabic-text {
  direction: rtl;
  text-align: start;
  display: block;
  color: rgb(111, 112, 114);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 20px;
  padding: 0px 0px 0px 35px;
  width: 75%;
}
.comment-section {
  background: rgb(245, 245, 245);
  margin: 20px 0px 5px;
  padding: 10px 0px;
  min-height: 50px;
  width: 95%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  border: 0.5px solid rgb(238, 238, 238);
  position: relative;
  font-family: TheSans;
  border-radius: 0px 22px;
}
.new-star {
  font-size: 19px;
}
.rating {
  direction: ltr;
  margin: 0px 12px 0px 30px;
  color: rgb(116, 116, 112);
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;
}
.reviews {
  font-size: 10px;
}
.new-book {
  background: rgb(0, 112, 205);
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.mid-para {
  background-color: #fff;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.icons {
  background-color: #fff;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.mid-icon {
  font-size: 28px;
}
.address {
  background-color: #fff;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.new-padding {
  padding-left: 5px;
}
.city {
  font-size: 13px;
  color: rgb(116, 116, 112);
}
.book {
  font-weight: 700;
  font-size: 14px;
  color: rgb(116, 116, 112);
  padding-top: 4px;
}
.choose {
  background-color: #fff;
  border-bottom: 1px solid rgb(126, 125, 125);
}
.reserve {
  background-color: #fff;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.reserve-text {
  color: rgb(116, 116, 112);
  font-size: 13px;
}
.clinic {
  background-color: #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.custom-clen {
  font-size: 50px;
}
.online-text {
  font-size: 13px;
  color: rgb(102, 102, 102);
  font-weight: 700;
  padding-left: 10px;
}
.doc-req-text {
  font-size: 13px;
  color: rgb(102, 102, 102);
  padding-left: 10px;
}
.p-r {
  padding-right: 6px;
  margin-top: 10px;
}
.last-area-ratings {
  background-color: #fff;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.over-rate-end {
  font-size: 14px;
  color: rgb(116, 116, 112);
}
.last-arabic-r {
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
}
.years-old {
  direction: ltr;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
}
.septem {
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: 500;
}
.doc-f-rating {
  color: rgb(116, 116, 112);
  font-size: 14px;
}
.one {
  background: rgb(0, 112, 205);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  display: block;
  font-size: 23px;
  direction: ltr;
  padding: 3px 10px;
  font-family: SourceSansPro;
  width: max-content;
  margin: auto;
  font-weight: 600;
}
#more-images {
  display: none;
}
.custom-sticky-new {
  position: sticky;
  top: 0;
  height: 830px;
}

/* ...........about-doctor-section.................. */
.about-the-doctor {
  background-color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.ab-h3 {
  font-size: 15px;
  color: rgb(109, 110, 112);
  font-weight: 700;
}
.m-para {
  color: rgb(116, 116, 112);
  font-size: 12px;
  font-weight: 500;
}
.c-img-fluid {
  /* width: 273px; */
  height: 110px;
}
.rating-p-c {
  background: rgb(0, 112, 205);
  width: 50px;
  color: #fff;
  text-align: center;
  /* padding: 5px 6px; */
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
}
.r-stars {
  font-size: 21px;
}
.center-star {
  font-size: 27px;
}
.over-rat {
  color: rgb(116, 116, 112);
  font-size: 18px;
}
.visitors {
  color: rgb(116, 116, 112);
  font-size: 12px;
}
.view-more {
  color: rgb(0, 112, 205);
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.last-area-view {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #fff;
}
#more {
  display: none;
}
/* #myImgBtn{
  display: none;
} */
.new-img-avi {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.new-p {
  color: rgb(102, 102, 102);
  font-size: 16px;
}
.new-visi {
  text-align: center;
  margin: 0px;
  color: rgb(102, 102, 102);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.n-d-rat {
  color: rgb(102, 102, 102);
  font-size: 15px;
  line-height: 22px;
}
.n-width {
  width: 38%;
  border: 1px solid #cfcbcb;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 6px;
}
.btn-secondary {
  background-color: #7ca2c357 !important;
  color: #0081ff !important;
  border-style: none;
}

/* ..........popup........... */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup-2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup-3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup-4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 600px;
  background-color: #fff;
  color: rgb(82, 82, 206);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 107%;
  left: 39%;
  margin-left: -80px;
}
.popup-2 .popuptext2 {
  visibility: hidden;
  width: 600px;
  background-color: #fff;
  color: rgb(82, 82, 206);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 107%;
  left: 36%;
  margin-left: -80px;
}
.popup-3 .popuptext3 {
  visibility: hidden;
  width: 600px;
  background-color: #fff;
  color: rgb(82, 82, 206);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 107%;
  left: 36%;
  margin-left: -80px;
}
.popup-4 .popuptext4 {
  visibility: hidden;
  width: 600px;
  background-color: #fff;
  color: rgb(82, 82, 206);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 107%;
  left: 36%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  /* position: absolute; */
  top: 100%;
  left: 50%;
  display: none;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup-2 .popuptext2::after {
  content: "";
  /* position: absolute; */
  top: 100%;
  left: 50%;
  display: none;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup-3 .popuptext3::after {
  content: "";
  /* position: absolute; */
  top: 100%;
  left: 50%;
  display: none;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup-4 .popuptext4::after {
  content: "";
  /* position: absolute; */
  top: 100%;
  left: 50%;
  display: none;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.hello-popup {
  font-size: 17px;
  color: rgb(0, 112, 205);
  padding: 5.8px 6px;
  position: sticky;
  z-index: 3;
  display: -webkit-flex;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popup-2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popup-3 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popup-4 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popup-popular {
  font-size: 14px;
  color: rgb(116, 116, 112);
  font-weight: 500;
  text-align: start;
}
.popup-others {
  font-size: 14px;
  color: rgb(116, 116, 112);
  font-weight: 500;
  text-align: start;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ..........slider................ */
.main-index2-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(237 237 237);
}
main {
  max-width: 1200px;
  min-width: 300px;
  position: relative;
  margin: auto;
  font-family: arial;
}
.slider {
  width: 65%;
  height: 240px; /*relative to width*/
  max-height: 675px; /*relative to max-width*/
  min-height: 168px; /*relative to min-width*/
  overflow: hidden;
  position: relative;
  display: flex;
  /* flex-direction: column;
    justify-content: center; */
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  display: inline-block;
  padding: none;
  /*   background: #000; */
  color: #fff;
  z-index: 10; /*INSURE BUTTONS ARE ON TOP */
  border: 1px solid #d7d7d7;
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0%;
}
.button-1 {
  display: inline-block;
  padding: none;
  /*   background: #000; */
  color: #fff;
  z-index: 10; /*INSURE BUTTONS ARE ON TOP */
  border: 1px solid #d7d7d7;
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0%;
}

.slide {
  width: 97%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 100%;
  text-align: center;
  transition: left 2s ease;
  padding: 30px;
}

/*initial styles for each slide update the colors/rules for each container */
#slide1 {
  left: 0; /* don't change this one */
  background: transparent;
}
#slide2 {
  background: transparent;
}
#slide3 {
  background: transparent;
}
#slide4 {
  background: transparent;
}
.today {
  background-color: dodgerblue;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.am-pm {
  background-color: #fff;
  /* border-bottom: 1px solid gray; */
  border: 1px solid rgb(212, 212, 212);
}
.from-class {
  font-size: 10px;
  color: dodgerblue;
}
.book-slider {
  background-color: red;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-spon {
  position: absolute;
  top: 0px;
  width: 145px;
  padding: 1.5px 0px;
  font-size: 14px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(255, 182, 36);
  right: 0px;
  border-radius: 0px 10px;
  border-style: none;
}
.end-p {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: rgb(111, 112, 114);
  font-size: 13px;
  margin: 14px 0px 10px;
}

/* ......modal-images............ */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 24%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* .....carousal-slider........ */
.car-class {
  width: 100px !important;
}
.item {
  display: flex !important;
  justify-content: center !important;
}

/* .........set-responsiveness................ */

@media (min-width: 768px) and (max-width: 991px) {
  .slider {
    width: 60%;
  }
}
@media (min-width: 280px) and (max-width: 500px) {
  .slider {
    width: 80%;
  }
}
@media (min-width: 280px) and (max-width: 403px) {
  .slider {
    width: 100%;
  }
}
@media (min-width: 1000px) and (max-width: 1262px) {
  .dermo > a {
    font-size: 11px;
  }
  .select {
    font-size: 12px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .search-tab-section {
    top: 95%;
  }
}
@media (min-width: 768) and (max-width: 991px) {
  .upper-section {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .upper-section {
    height: 660px;
  }
}
@media (min-width: 280px) and (max-width: 991px) {
  /* .main-section {
    margin-top: 310px;
  } */
  .search-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .new-img-avi {
    display: flex;
    justify-content: center;
  }
  .cus-img-r {
    /* border-radius: 50%; */
    width: 140px;
    /* padding-bottom: 20px; */
  }
  .c-img-fluid {
    object-fit: contain;
  }
  .custom-responsive {
    flex-wrap: wrap;
    justify-content: center;
  }
  .n-responsive {
    flex-direction: column;
  }
  .n-f-class {
    justify-content: center;
  }
  .rating-p-c {
    width: auto;
  }
}
@media (max-width: 767px) {
  .popup .popuptext {
    /* visibility: hidden; */
    width: 100%;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: 15%;
    /* margin-left: -80px; */
  }
  .popup-2 .popuptext2 {
    /* visibility: hidden; */
    width: 100%;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: 15%;
    margin-left: -80px;
  }
  .popup-3 .popuptext3 {
    /* visibility: hidden; */
    width: 100%;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: 15%;
    margin-left: -80px;
  }
  .popup-4 .popuptext4 {
    /* visibility: hidden; */
    width: 100%;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: 15%;
    margin-left: -80px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .popup-2 .popuptext2 {
    /* visibility: hidden; */
    width: 600px;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: -56%;
    margin-left: -80px;
    /* margin-left: -80px; */
  }
  .popup-3 .popuptext3 {
    /* visibility: hidden; */
    width: 600px;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: 38%;
    margin-left: -80px;
    /* margin-left: -80px; */
  }
  .popup-4 .popuptext4 {
    /* visibility: hidden; */
    width: 600px;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: -57%;
    margin-left: -80px;
    /* margin-left: -80px; */
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .popup-4 .popuptext4 {
    /* visibility: hidden; */
    width: 600px;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: -122%;
    margin-left: -80px;
  }
}
@media (min-width: 1025px) and (max-width: 1220px) {
  .popup-4 .popuptext4 {
    /* visibility: hidden; */
    width: 600px;
    background-color: #fff;
    color: rgb(82, 82, 206);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 107%;
    left: -122%;
    margin-left: -80px;
  }
}
@media (max-width: 767px) {
  .custom-index2-container {
    max-width: 755px !important;
  }
}
@media (min-width: 280px) and (max-width: 767px) {
  .cust-doc {
    font-size: 15px;
  }
  .new-star-icon {
    font-size: 16px;
  }
  .index2-para {
    font-size: 15px;
  }
  .new-img-avi {
    border-radius: 10%;
  }
}
@media (min-width: 280px) and (max-width: 767px) {
  .cus-new-col {
    background-color: #ededed;
  }
  .cus-mb {
    background-color: #ededed;
  }
}
